  /* Only the submit button is matched by this selector,
         but to be sure you could use an id or class for that button */
  
  #add_button{
    margin: auto;
    width: 20%;
    text-align: center;
    height: 40px;
    margin-top: 3%;
  }

  .add_button{
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 3%;
  }